<div class="games">
  <div class="status">
    <h1>Classes</h1>
    <input type="text" placeholder="Search here..." />
  </div>
  <div class="cards">
    <div class="card">
      <img src="./assets/Images/assassins.png" alt="" />
      <div class="card-info">
        <h2>Rogue</h2>
        <p>Subclasses: Thief</p>
      </div>

    </div>
    <div class="card">
      <img src="./assets/Images/sackboy.png" alt="" />
      <div class="card-info">
        <h2>Sorcerer</h2>
        <p>Subclasses: Draconic </p>
      </div>

    </div>
    <div class="card">
      <img src="./assets/Images/spiderman.png" alt="" />
      <div class="card-info">
        <h2>Barbarian</h2>
        <p>Subclasses: Berserker</p>

      </div>

    </div>
  </div>
</div>
