<div class="games">
  <div class="status">
    <h1>Classes</h1>
    <input type="text" name="seach" placeholder="Search here..." [(ngModel)]="searchValue">
  </div>
  <div class="cards">


    <div class="card" *ngFor="let classDD of classList | FilterClass: searchValue | paginate: { itemsPerPage: numberPerPages, currentPage: p }; let i = index">
      <img src="./assets/Images/Classes/{{classDD.index}}.png" alt="" />
      <div class="card-info">
        <h2 *ngIf="classDD">{{classDD.name}}</h2>
        <p>Starting Equipment: {{getStartingEquipment(classDD.index)}} </p>
      </div>

    </div>

  </div>
  <pagination-controls (pageChange)="pageChange($event)" class="pagination justify-content-center text-primary"></pagination-controls>
</div>
