<div class="dashboard">
  <div class="user">
    <img src="./assets/Images/avatar.png" alt="" />
    <h3>Ítalo Teles</h3>
    <p>Software Developer</p>
  </div>
  <div class="links">
    <div class="link" routerLink="classes">
      <img src="./assets/Images/twitch.png" alt="" />
      <h2>Classes</h2>
    </div>
    <div class="link" routerLink="races" >
      <img src="./assets/Images/steam.png" alt="" />
      <h2>Races</h2>
    </div>
    <div class="link" routerLink="monsters">
      <img src="./assets/Images/upcoming.png" alt="" />
      <h2>Monsters</h2>
    </div>

  </div>
  <div class="pro">
    <p>Using dnd5eapi, D&D 5th Edition API!</p>
  </div>
</div>
