.user img{
  height:5rem;
  width: 5rem;

}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  padding: 1rem 1rem;
  height: 100%;
}

.link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 1rem;
  align-items: center;
  cursor: pointer;
}

.link h2 {
  padding: 0rem 1rem;

}

.pro {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  // position: relative;
}

.pro h2 {
  // width: 65%;
  color: white;
  font-weight: 600;
  font-size: large;
}

@media (max-width: 1024px) {

  .dashboard{
    justify-content: center;
  }

  .link h2{
    display: none;

  }
  .link {
    margin: 1rem 0rem;
    padding: 1rem 1rem;


  }


  .user h3, .user p{
    display: none;
  }
  .user img{
    height:3rem;
    width: 3rem;

  }

  .pro{
    display: none;
  }
}



