<div class="games">
  <div class="status">
    <h1>Monsters</h1>
    <input type="text" placeholder="Search here..." />
  </div>
  <div class="cards">
    <div class="card" *ngFor="let monsterResult of monsterList.results | paginate: { itemsPerPage: numberPerPages, currentPage: p }; let i = index">

      <img *ngIf="monsterDetailList[i] && (monsterDetailList[i].image != null)" [src]="'https://www.dnd5eapi.co'+monsterDetailList[i].image" alt="" style="width: 100 px; height: 100px; align-self: center;"/>
      <img *ngIf="monsterDetailList[i] && (monsterDetailList[i].image == null)" src="./assets/Images/no-image.png" alt="" style="width: 100 px; height: 100px;"/>
      <div *ngIf="monsterDetailList[i]" class="card-info">
        <h2>{{monsterDetailList[i].name}}</h2>
        <p>Type: {{monsterDetailList[i].type}}</p>
        <p>Hit Points: {{monsterDetailList[i].hit_points}}</p>

      </div>
    </div>


    <pagination-controls (pageChange)="pageChange($event)" class="pagination justify-content-center text-primary"></pagination-controls>
  </div>
</div>
